*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 50px 0px;
    text-align: center;
    text-transform: capitalize;   /* This property capitalize the first text of word. */ 
}

.container{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.container p{
    width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
    text-align: justify;
    line-height: 1.7;
}

.contain_img{
    width: 50%;
    text-align: center;
    padding: 0;
}

.contain_img img{
    width: 450px;
}

/* Media Query*/

@media(max-width: 320px){

    h1{
        background-color: red;
    }

    .container{
        display: block;
    }

    .contain_img{
        width: 100%;
    }

    .container p{
        width: 100%;
    }    

    .contain_img img{
        width: 100%;
        height: auto;
        padding: 10%;
        box-sizing: border-box;
    }
}

@media(min-width:321px) and (max-width:768px){
    
    h1{
        text-transform: uppercase;
    }

    .container{
        display: block;
    }

    .contain_img{
        width: 100%;
    }

    .container p{
        width: 100%;
        color: black;
        background-color: skyblue;
        word-spacing: 10px;
    }

    .contain_img img{
        width: 100%;
        height: auto;
        padding: 10%;
        box-sizing: border-box;
    }

}

@media(min-width:769px) and (max-width:1023px){
    h1{
        color: orange;
        background-color: black;
    }
}

@media(min-width:1024px){
    h1{
        color: yellow;
        background-color: black;
    }

    p{
        color: white;
        background-color: gray; 
        word-spacing: 20px;
    }
}

